input[type=text],input[type=password] {
    border: none;
    border-bottom: 2px solid black;
    padding: 10px;
}

input[type=text]:focus,input[type=password]:focus {
    outline: none;
}
input[type=submit]{
    background: #1DA1F2;
    padding: 18px;
    border-radius: 50px;
    border: none;
}

.container{
    position: absolute;
    padding: 40px;
    height: 500px;
    width: 430px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
}
form{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 320px;
    height: 500px;

}
#input{
    margin-top: 30px;
}
label, input{
    display: block;
    width: 100%;
    box-sizing: border-box;

}
body{
    background-image: url("login.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.logo{
    margin:auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}

