body {
    font: 14px Georgia, serif; 
    background-size: cover;
    display: block;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    background-image:  url('background.jpeg');
    animation: scroll 180s alternate infinite;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    perspective: 1000px;
    perspective-origin: 50% 50%;

}
@keyframes scroll {
    100%{
      background-position: -2000px 0px;
    }
}
h1{
    text-align: center;
}
.question{
   
    position: absolute;
    display:block;
    justify-content: center;
    align-items: center;
    width: 90%;
    bottom: 5px;  
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    grid-gap: 8px;
    margin-left: 10%;
}
#answer{
    background-color:black;
    color: white;
    font-family: Georgia;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 35%;
    
   
}
h3{
    background-color: black;
    border: solid 2px goldenrod;
    margin: 10px;
    padding: 30px;
    width: 100%;
    text-align: center;
}
a:link, a:visited{
    color: green;
    background-color: black;
    border-radius: 50%;
    padding: 14px 25px;
    font-size: large;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
    font-size: large;
    border-radius: 25%;
}

table{
    margin: auto;
    width: 40%;
}
.start{
    text-align: left;
}
#check{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: solid 2px goldenrod;
    width: 200px;
    border-radius: 10px;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;

}
th{
   background-color: blue;
   border-radius: 8px;
   padding: 10px;
}
tr:nth-child(even){
    background-color: greenyellow;
    color: black;
}
tr:nth-child(odd){
    background-color: red;
}
td{
    width: 150px;
    text-align: center;
    padding: 5px;
}
.info{
    margin: auto;
    width: 80%;
    border: dotted red;
    padding: 20px;
}
dt,dd span{
    font-weight: bold;
}


